import("stats")
importFrom("MKdescr", "CV")
importFrom("boot", "boot", "boot.ci")
export(binomCI,
       binomDiffCI,
       cvCI,
       hsu.t.test,
       imputeSD,
       madCI,
       medianCI,
       mi.t.test,
       normCI,
       normDiffCI,
       quantileCI,
       pairwise.fun)

S3method(hsu.t.test, default)
S3method(hsu.t.test, formula)
S3method(mi.t.test, default)
S3method(print, confint)
