import("stats")
importFrom("MKdescr", "CV", "scale_y_neglog10")
importFrom("boot", "boot", "boot.ci")
importFrom("arrangements", "permutations", "npermutations")
importFrom("nlme", "lme", "anova.lme")
importFrom("ggplot2", "ggplot", "aes", "geom_point", "geom_vline", "geom_hline",
           "labs", "ggtitle", "scale_color_manual", "xlab", "ylab", "xlim", "ylim")
importFrom("exactRankTests", "wilcox.exact")
importFrom("miceadds", "mids2datlist")
export(binomCI,
       binomDiffCI,
       boot.t.test,
       cvCI,
       hsu.t.test,
       imputeSD,
       madCI,
       medianCI,
       mi.t.test,
       mi.wilcox.test,
       normCI,
       meanCI,
       perm.t.test,
       mpe.z.test,
       mpe.t.test,
       p2ses,
       sdCI,
       normDiffCI,
       meanDiffCI,
       quantileCI,
       pairwise.fun,
       pairwise.wilcox.exact,
       pairwise.ext.t.test,
       rm.oneway.test,
       volcano,
       baplot)

S3method(hsu.t.test, default)
S3method(hsu.t.test, formula)
S3method(boot.t.test, default)
S3method(boot.t.test, formula)
S3method(mi.t.test, default)
S3method(mi.t.test, amelia)
S3method(mi.t.test, mids)
S3method(mi.wilcox.test, default)
S3method(mi.wilcox.test, amelia)
S3method(mi.wilcox.test, mids)
S3method(perm.t.test, default)
S3method(perm.t.test, formula)
S3method(print, confint)
S3method(print, boot.htest)
S3method(print, perm.htest)
S3method(print, pw.htest)
S3method(print, mpe.test)
S3method(volcano, default)
